
.radio-container{
  color: white;
}

.title{
color: #FEF985;
margin-bottom: 15px;
}

#sort-container{
  margin-right: 70px;
}

#filter-container{
  display: flex;
  justify-content: center;
  width: 700px;
}


input[type='radio'] {
  margin-right: 5px;
  transform: scale(1.5);
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: end;

  .mat-expansion-panel-header, .mat-expansion-panel{
    background-color: #171717;

    mat-panel-description{
      display: flex;
      justify-content: end;
      mat-icon{
        color: #FEF985 ;
      }
    }

  }

  mat-panel-title{

    color: #FEF985 !important;
  }
  #reset-filters{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    color: #FEF985;
    cursor: pointer;
  }
}

#options-container{
  display: flex;
  justify-content: center;
}

#status-options, #priority-options{
  display: flex;
  justify-content: center;
  .pill{
    margin: 15px;
    width: auto;
    border-radius: 10px 10px 10px 10px;
    cursor: pointer;
  }

  #low{
    background-color: #b0f2a8;
  }
  #medium{
    background-color: #e9e684;
  }
  #high{
    background-color: #df5454;
  }

  #new{
    background-color: #afc9e2;
  }
  #in-progress{
    background-color: #e2d4af;
  }
  #completed{
    background-color: #afe2c4;
  }
}
