h1{
  text-align: center;
  color: #fef985;
  margin-bottom: 30px;
}
button{
  border: 1px solid black;
  padding: 5px;
  border-radius: 5px;
  margin-right: 10px;
  background-color: #fef985;
}
::ng-deep mat-dialog-container{

  background-color: #303030 !important;
}
.container{
  padding: 10px 50px;
}
