h1{
  color: #fef985;
}

button{
  border: 1px solid black;
  padding: 5px;
  border-radius: 5px;
  margin-right: 10px;
  background-color: #fef985;
}

  ::ng-deep mat-dialog-container{
    background-color: #303030 !important;
  }

  ::ng-deep .mat-focused .mat-form-field-label {
    color: white !important;
   }

  ::ng-deep.mat-form-field-underline{
    background-color: #fef985 !important;
  }

  ::ng-deep .mat-form-field-label {
    color: white !important;
  }

  ::ng-deep .mat-expansion-indicator:after {
    color: white;
  }

  mat-form-field {
    input {
      color: white;
    }
    select {
      color: white;
    }
  }
