<h1 mat-dialog-title>{{title}}</h1>
<div mat-dialog-content>
  <form [formGroup]="taskForm">
    <div class="row">
      <mat-form-field appearance="fill" class="full-width col-4">
        <mat-label>Title</mat-label>
        <input matInput formControlName="title">
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width col-4">
        <mat-label>Description</mat-label>
        <input matInput formControlName="description">
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width col-4">
        <mat-label>Status</mat-label>
        <mat-select [disableOptionCentering]="true" formControlName="status">
          <mat-option *ngFor="let status of statusOptions" [value]="status">
            {{ status }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field appearance="fill" class="full-width col-4">
        <mat-label>Priority</mat-label>
        <mat-select [disableOptionCentering]="true" formControlName="priority">
          <mat-option *ngFor="let priority of priorityOptions" [value]="priority">
            {{ priority }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width col-4">
        <mat-label>Date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
  </form>
</div>

<div mat-dialog-actions align="center">
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button [disabled]="taskForm.invalid" (click)="onSave()">Save</button>
</div>
