html,
body {
  height: 100%;
  background-color: black !important;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  border-style: none !important;
  border: none !important;
}


.mat-select-value {
  color: white !important;
}
